<div class="wrapper" fxLayout="row" style="width: 100%;">
  <mat-card style="overflow-y: scroll" fxFlex="50vw">
    <table mat-table [dataSource]="dataSource$" style="width: 100%;" class="mat-elevation-z8">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element">{{ element.id }}</td>
      </ng-container>

      <ng-container matColumnDef="first_name">
        <th mat-header-cell *matHeaderCellDef>First Name</th>
        <td mat-cell *matCellDef="let element">{{ element["first_name"] }}</td>
      </ng-container>

      <ng-container matColumnDef="last_name">
        <th mat-header-cell *matHeaderCellDef>Last Name</th>
        <td mat-cell *matCellDef="let element">{{ element["last_name"] }}</td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let element">{{ element["email"] }}</td>
      </ng-container>

      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef>Gender</th>
        <td mat-cell *matCellDef="let element">{{ element["gender"] }}</td>
      </ng-container>

      <ng-container matColumnDef="ip_address">
        <th mat-header-cell *matHeaderCellDef>IP Address</th>
        <td mat-cell *matCellDef="let element">{{ element["ip_address"] }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </mat-card>
  <mat-card fxFlex="50vw">
    <mat-card-header>
      <mat-form-field>
        <mat-select [placeholder]="'Columns'" [(ngModel)]="displayedColumns" multiple>
          <mat-option [value]="option" *ngFor="let option of displayedColumnsCopy">
            {{ option }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-header>
    <mat-card-content>
      <form
        style="padding: 5vw;"
        [formGroup]="filterForm"
        fxLayout="column"
        fxLayoutAlign="space-between"
      >
        <mat-form-field
          *ngFor="let field of filterForm.controls; let i = index"
        >
          <input
            matInput
            [id]="i"
            [placeholder]="displayedColumnsCopy[i]"
            [formControlName]="i"
          />
        </mat-form-field>
      </form>
    </mat-card-content>
  </mat-card>
</div>
